.modal-card, .modal-photo, .modal-profile {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 1;
    visibility: visibile;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.modal_hidden {
    visibility: hidden;
    opacity: 0;
}

.modal__container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 38px);
    max-width: 358px;
    min-width: 238px;
    position: relative;
    background-color: #fff;
    padding: 36px;
    border-radius: 10px;
    font-family: Inter, Arial, sans-serif;
}

.modal-photo__container {
    display: flex;
    flex-direction: column;
    max-width: 75vw;
    max-height: 75vh;
    position: relative;
    background-color: transparent;
    font-family: Inter, Arial, sans-serif;
}

.modal-photo__button {
    position: absolute;
    top: -45px;
    right: -45px;
    background-image: url(../images/closeIcon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.modal-photo__button:hover {
    opacity: 60%;
}

.modal-photo__image {
    max-width: 75vw;
    max-height: 75vh;
}

.modal-photo__title {
    font-size: 12px;
    margin: 10 0 0;
}


.modal__close {
    position: absolute;
    top: -45px;
    right: -45px;
    background-image: url(../images/closeIcon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color:transparent;
    box-shadow: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    opacity: 100%;
    transition: opacity 0.8s linear;
}

.modal__close:hover {
    opacity: 60%;
}

.modal__heading {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    margin: 0;
    color: #000;
    margin-bottom: 24px;
}

.modal__form_profile, .modal__form_card {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.modal__input_type_name, .modal__input_type_description, .modal__input_type_place, .modal__input_type_image {
    padding: 0 0 13px 0;
    margin: 30px 0 0 0;
    border: none;
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.modal__button {
    padding: 0;
    margin: 48px 0 0 0;
    background-color: #000;
    color: #fff;
    min-height: 50px;
    opacity: 100%;
    transition: opacity 0.8s linear;
}

.modal__button:hover {
    opacity: 80%;
    cursor: pointer;
    background-color:rgb(0, 0, 0);
}

@media screen and (min-width: 320px) and (max-width: 608px) {
    .modal__close {
        top: -54px;
        right: 0px;
        width: 26px;
        height: 26px;
    }

    .modal-photo__button {
        height: 30px;
        width: 30px;
        top: -45px;
        right: -45px;
    }

    .modal__container {
        max-width: 238px;
        padding: 25px 22px;
    }

    .modal__heading {
        font-size: 18px;
        margin: 0 0 45px 0;
    }

    .modal__button {
        font-size: 14px;
        margin: 45px 0 0 0;
        font-weight: 400;
    }
}

