.page {
    background-color: black;
    font-family: "Inter", Arial, sans-serif;
    color: #fff;
    padding: 0 0 60px 0;
}

.page__content {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}