.page {
    background-color: black;
    font-family: Inter, Arial, sans-serif;
    color: #fff;
    padding: 0 20px 60px 20px;
}

.page__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    min-height: 100vh;
}

/* MOBILE VIEW */

@media screen and (min-width: 320px) and (max-width: 799px) {
    .page {
        padding: 0 0 60px 0;
    }

    .page__content {
        margin: 0 auto;
        justify-content: center;
        width: calc(100% - 38px);
    }
}